.login__item {
  border: none;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid #ccc;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
  padding: 0 0 13px 0;
}
