.profile__btn_action_avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  background: transparent;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.profile__btn_action_avatar:hover {
  background: rgba(0, 0, 0, 0.8) url(../../../../images/edit-avatar.svg)
    no-repeat center / 26px;
}
