.elements__delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: url(../../../images/delete-btn.svg) no-repeat center;
  box-sizing: border-box;
  /*  for white picture ? box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); */
}

.elements__delete-btn:hover {
  opacity: 0.6;
}
