@import url(./vendor/normalize.css);

/* fonts */
@import url(./fonts/fonts.css);

/* wrappers */
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/root/__page/root__page.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__center/content__center.css);

/* links */
@import url(./blocks/link-opacity/link-opacity.css);

/* buttons */
@import url(./blocks/button/button.css);

/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__nav/header__nav.css);

/* menu */
@import url(./blocks/menu/menu.css);
@import url(./blocks/menu/_active/menu_active.css);
@import url(./blocks/dropdown-menu-btn/dropdown-menu-btn.css);

/* nav */
@import url(./blocks/email/email.css);
@import url(./blocks/session-status-link/session-status-link.css);

/* logo */
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/__pic/logo__pic.css);

/* login */
@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__input-container/login__input-container.css);
@import url(./blocks/login/__item/login__item.css);
@import url(./blocks/login/__btn/login__btn.css);
@import url(./blocks/login/__signin/login__signin.css);
@import url(./blocks/login/__signin-link/login__signin-link.css);

/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__btn/_action/profile__btn_action_avatar.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__btn/profile__btn.css);
@import url(./blocks/profile/__btn/_action/profile__btn_action_add.css);
@import url(./blocks/profile/__btn/_action/profile__btn_action_edit.css);

/* elements */
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__details-wrapper/elements__details-wrapper.css);
@import url(./blocks/elements/__like-btn/elements__like-btn.css);
@import url(./blocks/elements/__like-btn/_active/elements__like-btn_active.css);
@import url(./blocks/elements/__like-counter/elements__like-counter.css);
@import url(./blocks/elements/__delete-btn/elements__delete-btn.css);
@import url(./blocks/elements/__delete-btn/_hidden/elements__delete-btn_hidden.css);

/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* popups */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_noinputs.css);
@import url(./blocks/popup/__title/_type/popup__title_type_centered.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_type/popup__item_type_error.css);
@import url(./blocks/popup/__btn/_action/popup__btn_action_close.css);
@import url(./blocks/popup/__btn/_action/popup__btn_action_submit.css);

@import url(./blocks/popup/_type/popup_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_transparent.css);
@import url(./blocks/popup/__container/_type/popup__container_type_white.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);

@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input-label/popup__input-label.css);
@import url(./blocks/popup/__btn/_inactive/popup__btn_inactive.css);

@import url(./blocks/popup/__infotooltip/popup__infotooltip.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__container/_type/popup__container_type_top.css);
